@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: "Roboto", sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

.markdown pre {
    border-radius: 0.3em;
}

.markdown code {
    display: inline-block;
    padding: 0.1em 0.5em;
    background: #0001;
    border-radius: 0.5em;
}

.markdown a {
    padding: 0.3em 0;
    color: #186eee;
}

.markdown a:hover {
    color: black;
}

.markdown hr {
    margin: 2em 0;
    border: 1px solid #0002;
}

.markdown h1 {
    font-size: 1.4rem;
    font-weight: bold;
}

.markdown h2 {
    font-size: 1.2rem;
    font-weight: bold;
}
.markdown h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

.markdown h3,
.markdown h4,
.markdown h5 {
    font-weight: bold;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin: 1.2em 0 0.5em 0;
}

.markdown h1,
.markdown h2 {
    /* color: #004; */
    padding-bottom: 0.2em;
    border-bottom: 1px solid #0002;
}

.markdown p {
    color: #333;
}

.markdown li {
    list-style: square;
    margin: 0.2em 0 0.2em 1.5em;
}
