/example/
/src/
/.editorconfig
node_modules/
/tsconfig.json
package-lock.json
yarn.lock
/.prettierrc
/.prettierignore
.gitignore
/.editorconfig
/.vscode/
/CHANGELOG.md
/CODE_OF_CONDUCT.md
/README.md
/Todo.md
/LICENSE
/docs