{
    "singleQuote": false,
    "jsxSingleQuote": false,
    "semi": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "trailingComma": "none",
    "printWidth": 200
}