body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@keyframes blink {
    0% {
        background-color: #f008;
        outline: 2px solid black;
    }
    50% {
        background-color: #f000;
    }
    100% {
        outline: 2px solid #0000;
    }
}

.blink {
    animation: blink 1s;
}

small {
    opacity: 0.9;
    font-weight: normal;
}

.field-dirty {
    outline: 3px solid #0004;
    transition: 50ms linear;
}

.field-error {
    outline: 3px solid #f009;
    transition: 50ms linear;
}
